<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MongoDb</title>
</head>
<body>
    <h1>Apna School</h1>
    <p>Student Data</p>
    <a href="/adminpage" method="post">Admin</a>
    <form action="/save" method="post">
    <input type="text" name="name">
    <input type="number" name="class">
    <input type="number" name="age">
    <input type="submit">
</form>
</body>
</html>